body {
  font-family: "Poppins", sans-serif;
  font-size: 4em;
}

.name {
  background: none;
  font-weight: 550;
  color: #000;
  letter-spacing: 2px;
}

.sub-heading {
  font-size: calc(1.3rem + 0.6vw);
  font-weight: 500;
}

.text-outline {
  font-size: 2rem;
  font-weight: 550;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
}

.text-outline:hover {
  -webkit-text-fill-color: black;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.blue:hover {
  background: rgb(35, 156, 254);
}

.yellow:hover {
  background: rgba(254, 238, 65, 0.996);
}

.pink:hover {
  background: rgb(255, 75, 183);
}

.li-passion {
  list-style: none;
  margin: 20px 0;
}

.ul-passion {
  text-align: center;
  margin: 80px 0;
}

.hero {
  background: rgba(8, 224, 149, 0.77);
}

.hero-btn {
  font-weight: 700;
}

.hero-btn:hover {
  background: rgb(74, 71, 73);
  color: white;
  border: solid 2px rgb(74, 71, 73);
}

.hero-btn-outline {
  border: solid 1px;
  font-weight: 700;
}
