:root {
  --brading-color: rgba(8, 224, 149, 0.77);
  --accent-color: rgb(249, 84, 183);
  --secondary-color: rgb(31, 30, 31);
  --font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--font-family);
}

.name {
  font-size: 4em;
  background: none;
  color: var(--secondary-color);
  letter-spacing: 2px;
}

.bold {
  font-weight: 550;
}

.sub-heading {
  font-size: calc(1.3rem + 0.6vw);
  font-weight: 500;
}

.text-outline {
  font-weight: 550;
  font-size: 40px;
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.5px;
}

.text-outline:hover {
  -webkit-text-fill-color: var(--secondary-color);
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.blue:hover {
  background: rgb(35, 156, 254);
}

.yellow:hover {
  background: rgba(254, 238, 65, 0.996);
}

.pink:hover {
  background: var(--accent-color);
}

.hero {
  background: var(--brading-color, rgba(8, 224, 149, 0.77));
  padding: 92px 0 0 0;
}

.hero-btn {
  font-weight: 700;
  margin: 50px 10px 10px 50px;
}

.hero-btn:hover {
  background: var(--secondary-color);
  color: white;
  border: solid 2px var(--secondary-color);
}

.hero-btn-outline {
  border: solid 1px;
  font-weight: 700;
  margin: 50px 50px 10px 10px;
}

.li-passion {
  list-style: none;
  margin: 20px 0;
}

.ul-passion {
  text-align: center;
  margin: 80px 0;
}
